<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Menu">

<!--Device Parameter-->
<!--    <parameter name="deviceParameter" value="localAndroidCapsWeb"/>-->
    <parameter name="deviceParameter" value="SauceLabs_Android_RealDevice_Web"/>
<!--    <parameter name="deviceParameter" value="BrowserStack_Android_RealDevice_Web"/>-->
    <parameter name="platformParameter" value="Android"/>
    <parameter name="browserName" value="Chrome"/>
<!--TC Parameter-->
    <parameter name="user" value="Participant"/>

    <test name="Menu">
        <classes>
            <class name="testing.appium.eConsentTesting.Web.user_Menu.Menu">

                <methods>
                    <include name="participant_App_Mobile_User_Menu_Dropdown_Menu_opened"/>
                    <include name="participant_App_Mobile_User_Menu_Menu_closed"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>


